* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
header {
  position: absolute;
  width: 1536px;
  height: 96px;
  z-index: 1000;
  display: flex;
  align-content: center;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
    padding-left: 160px;
    gap: 20px;
    p {
      font-family: Poppins;
      font-weight: 600;
      font-size: 36px;

      line-height: 100%;
      letter-spacing: 0%;
    }
  }
  nav {
    display: flex;
    align-items: center;
    padding-right: 160px;
    ul {
      display: flex;
      list-style: none;
      gap: 30px;
      li a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
.anh {
  position: absolute;
  width: 841px;
  height: 584px;
  top: 0;
  right: 0;
  background-color: rgb(72, 220, 220);
  overflow: hidden;
  img:nth-child(1) {
    position: absolute;
    width: 950px;
    height: 650px;
    top: 50px;
    left: -80px;
    z-index: 1;
  }
  img:nth-child(2) {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 10px;
    left: 100px;
  }
  img:nth-child(3) {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 60px;
    left: 150px;
  }
}
.para {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 350px;
  left: 1120px;
  gap: 32px;
  padding: 24px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.para-item {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 20px;
  left: -40px;
  background-color: #5d4d66;
  display: flex;
  align-items: center;
  justify-content: center;
}
.para-item1 p:nth-child(2) {
  font-family: Poppins;
  font-weight: 700;
  font-size: 24px;
}
.card-title {
  position: absolute;
  width: 650px;
  height: 240px;
  top: 120px;
  left: 160px;

  p:nth-child(1) {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 60px;
    padding-bottom: 10px;
  }
  p:nth-child(2) {
    width: 550px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #909090;
    padding-bottom: 20px;
  }
  span {
    color: rgb(72, 220, 220);
  }
  button {
    width: 180px;
    height: 60px;
    top: 568px;
    left: 160px;
    gap: 8px;
    padding: 8px;
    background-color: #7edad2;
    border: none;
    color: white;
  }
}
.card-content {
  position: absolute;
  width: 480px;
  height: 85px;
  top: 450px;
  left: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}
.content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  p:nth-child(1) {
    font-family: Bebas Neue;
    font-weight: 600;
    font-size: 30px;
  }
}
.container {
  position: absolute;
  width: 1250px;
  height: 200px;
  top: 550px;
  left: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  z-index: 2;
}
.item {
  background-color: white;
  padding: 32px;
  p:nth-child(2) {
    font-family: " Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
  }
  p:nth-child(3) {
    color: #909090;
  }
}
