* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: beige;
}

.navbar {
  width: 1225px;
  height: 148px;
  border-radius: 25px;
  background-color: #f8f9ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}
.nav-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: black;
}
.nav-links {
  width: 556px;
  height: 60px;
  top: 439px;
  left: 227px;
  border-width: 1px;
  border-radius: 15px;
  background-color: #f8f9ff;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.click-menu {
  position: relative;
}
.res {
  width: 148px;
  height: 60px;
  top: 439px;
  left: 469px;

  display: flex;
  justify-content: center;
}
.menu {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 389px;
  height: 333px;
  top: 50px;
  left: 0px;
  background-color: #ffffff;
  border-radius: 15px;
  display: none;
}
.menu .col {
  display: flex;
  flex-direction: column;
}

.col a {
  font-family: Mulish;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  padding: 15px;
}
.col a:nth-child(1) {
  font-family: Mulish;
  font-weight: 900;
  font-size: 12px;
  line-height: 100%;
}
.video {
  width: 156px;
  height: 41px;
  top: 676px;
  left: 672px;
  border-radius: 5px;
  background-color: #f8f9ff;
}
.auth {
  display: flex;
  gap: 30px;
}
.auth a {
  width: 121px;
  height: 55px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.auth .signup {
  background: black;
  color: white;
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}
.auth .login {
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}
.click-menu:hover .menu {
  display: grid;
}
.res:hover {
  border-width: 1px;
  border-radius: 15px;
  background-color: #eff1ff;
}
