* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 22px;
  z-index: 1;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}

.container-block {
  display: grid;
  gap: 30px;
  padding: 50px 60px;
  grid-template-columns: 1fr 9fr;
  border-radius: 10px;
  box-shadow: 5px 7px 0 blue;
  margin-bottom: 50px;
}
.year {
  font-size: 70px;
  font-weight: bold;
  position: sticky;
  top: 100px;
  align-self: start;
}
.content {
  display: flex;
  gap: 30px;
}
.img-box {
  padding-left: 10px;
}
.img-box img {
  border-radius: 10px;
  max-width: 200px;
  height: auto;
}
p {
  padding: 20px;
}
.back-to-top {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 30px;
  right: 10px;
  height: 40px;
  width: 40px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 50%;
}

.container-block:nth-child(odd) {
  background-color: aqua;
}
.container-block:nth-child(even) {
  background-color: antiquewhite;
}
