* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 22px;
  z-index: 1;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
}

.container-block {
  margin-bottom: 150px;
}

.container-block h2 {
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  background-color: aqua;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.img-box {
  flex: 1;
  position: sticky;
  top: 80px;
}

.text-box {
  flex: 2;
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: justify;
}

.back-to-top {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 30px;
  right: 30px;
  height: 40px;
  width: 40px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 50%;
}
